.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F8F8;
  height: 15vh;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header > p {
  margin: 20px;
  font-weight: lighter;
}

.header > p > a {
  color: grey;
}

.index-title > a {
  color: #337ab7;
}

i {
  font-size: 25px;
  color: #202429;
}

i:hover {
  text-decoration: none;
  opacity: 0.8;
}

.article {
  margin-left: 200px;
}

.article > a {
  font-family: 'Roboto Slab', serif;
  color: #337ab7;
  font-size: 30px;
  margin-bottom: 10px;
}

.article > p {
  font-weight: lighter;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
