.header > p {
  margin: 20px;
  font-weight: lighter;
}

.header > p > a {
  color: grey;
}

.index-title > a {
  color: #337ab7;
}

i {
  font-size: 25px;
}

.index-title > a, .index-content {
  font-family: Roboto;
}// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
